<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to resend.com, <%= @user.name %></h1>

    <p>
       This is an inline attachment <%= image_tag attachments['inline-image'].url, style: 'height:50px;width:60px;' %>
    </p>

    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>